{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead" // Optional: to configure which environments to support
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@nx/react/babel"
  ],
  "plugins": []
}
